.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.characts {
  composes: wrapper;
  list-style: none;
  gap: 8px;
}

.title {
  width: 640px;
  text-align: center;
}